{% extends 'company/base.html' %}
{% load static %}

{% block content %}
<br><br>
 <section>
    <h4 class="display-3 text-center">Dashboard</h4>
    {% for stock in stocks %}
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Date/time</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ stock.id }}</th>
            <td>{{ stock.name }}</td>
            <td>{{ stock.price }}</td>
            <td>{{ stock.created_at }}</td>

            <td><a class="btn  btn-outline-danger" href="">Delete</a></td>
            <td><a class="btn  btn-outline-success" href="{% url 'update' stock.pk %}">Update</a></td>
          </tr>
        </tbody>
      </table>
{% endfor %}
</section> 

{% endblock%}