
{% extends 'company/base.html' %}
{% load static %}

{% block content %}
    

<section class="header18 cid-sGpphAhInh mbr-fullscreen" id="header18-1">


    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Create your campaign</strong></h1>

                <p class="mbr-text mbr-fonts-style mbr-white display-7">Nowadays finding investor has been difficult to startup company , our platform will be used for connecting investor to startup&nbsp;</p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="{% url 'register-comp' %}">Register to continue</a></div>
            </div>
        </div>
    </div>
</section>
{#<section class="header18 cid-sGlOEQi3cp mbr-fullscreen" id="header18-z">#}
{#    <div class="align-center container">#}
{#        <div class="row justify-content-center">#}
{#            <div class="col-12 col-lg-10">#}
{#                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Build Stock and create your compaign</strong></h1>#}
{##}
{#                <p class="mbr-text mbr-fonts-style mbr-white display-7">Finding Investor might be difficult for you so join our platform to get investor and make money</p>#}
{#                <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="https://mobiri.se">Create Stock</a></div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}

{% endblock%}