{% extends 'company/base.html' %}
{% load static %}

{% block content %}
<section class="form7 cid-sFYhIm2EhX" id="form7-c">


    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Update Stock</strong></h3>

        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="" method="POST" class="mbr-form form-with-styler mx-auto" data-form-title="Form Name" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
{#                            <input type="text" name="username" placeholder="Enter username" data-form-field="username" class="form-control" value="" id="name-form7-c">#}
                                {{ form.name }}
                        </div>
                         <div class="col-lg-12 col-md-12 col-sm-12 form-group">
{#                            <input type="text" name="username" placeholder="Enter username" data-form-field="username" class="form-control" value="" id="name-form7-c">#}
                                {{ form.bio }}
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">

                                {{ form.logo }}
                        </div>
                         <div class="col-lg-12 col-md-12 col-sm-12 form-group">
{#                            <input type="text" name="username" placeholder="Enter username" data-form-field="username" class="form-control" value="" id="name-form7-c">#}
                                {{ form.price }}
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary btn-lg">Update Stock</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}