{% extends 'investor/base.html' %}
{% load static %}
{% block content %}
<br><br>
    <h1>Stock</h1>
    {% for stock in stocks %}
<div class="card" style="width: 20rem; border:2px;">
    <img src="{{ stock.logo.url }}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{ stock.name }}</h5>
      <p class="card-text">{{ stock.bio }}</p>
        <p>{{ stock.price }}</p>
      <a href="#" class="btn btn-primary">Buy Stock</a>
    </div>
  </div>

    {% endfor %}
{% endblock %}