{% extends '../investor/base.html' %}
{% load static %}
{% block content %}
<br><br>
<div class="card" style="width: 20rem; border:2px;">
    <img src="{% static '../../static/assets/images/features2.jpg' %}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Buy Stock</a>
    </div>
  </div>

{% endblock %}