{% extends '../investor/base.html' %}
{% load static %}

{% block content %}
<br><br>
<section>
    <h4 class="display-3 text-center">Dashboard</h4>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Date/time</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>$300</td>
            <td>12-12-12</td>
            
            <td><button class="btn  btn-outline-danger">Delete</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>$300</td>
            <td>12-12-12</td>
            
            <td><button class="btn btn-outline-danger">Delete</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>$300</td>
            <td>12-12-12</td>
           
            <td><button class="btn  btn-outline-danger">Delete</button></td>
          </tr>
        </tbody>
      </table>
</section>

{% endblock%}